.App {
  text-align: center;
}

button {
  margin-left: 5px;
}

.challengeBox {
  border: solid black 2px;
  width: 30dvw;
  margin-bottom: 1dvh;

}

#challengeResults {
  display: flex;
  flex-direction: column;
  align-items: center;
}