.App {
  text-align: center;
}

button {
  margin-left: 5px;
}

#challengeResults {
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 65dvw;
}

#categories {
  position: sticky;
  top: 2dvh;
  float: left;
  border: solid 5px green;
  display: flex;
  flex-direction: column;
  height: 100dvh;
  width: 10dvw;

}

.categoryBox {
  border: solid 2px;
  width: 2dvw;
  margin: 1dvh;
  margin-bottom: 2dvh;
  min-height: 5dvh;
  height: 5dvh;
  vertical-align: middle;
  min-width: 200px;
}

.categoryBox *{
  margin: 1dvh;
}

.challengeBox {
  border: solid 2px;
  width: 20dvw;
  margin: 1dvh;
  margin-bottom: 2dvh;
  min-height: 17dvh;
  vertical-align: middle;
  min-width: 200px;
}

.challengeBox *{
  vertical-align: middle;
  margin: 10px;
}

.IRON{
  border: solid RGB(59,48,45) 2px;
  background-color: RGB(192,165,165);
  color: RGB(59,48,45);
}

.BRONZE{
  border: solid RGB(85,62,68) 2px;
  background-color: RGB(135,99,91);
  color: RGB(235,177,149);
}

.SILVER{
  border: solid RGB(47,51,54) 2px;
  background-color: RGB(172,185,199);
  color: RGB(70,79,93);
}

.GOLD{
  border: solid #422A18 2px;
  background-color: #C89B3C98;
  color: #785A28;
}

.PLATINUM{
  border: solid #0B2A30 2px;
  background-color: #5DA7B9;
  color: #0A3E4C;
}

.EMERALD{
  border: solid #0D1C19 2px;
  background-color: #055A37;
  color: #2AA564;
  
}

.DIAMOND{
  border: solid #4286FF 2px;
  background-color: #97dce6;
  color: #1B588A;
}

.MASTER{
  border: solid #815270 2px;
  background-color: #8e4ba3 ;
  color: #E784FE;
}

.GRANDMASTER{
  border: solid #45424C 2px;
  background-color: #c2524c ;
  color: #FEBA54;
}

.CHALLENGER{
  border: solid #093D7A 2px;
  background-color: #216e9c ;
  color: #e2be7b;
}
